<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>
    {{>navbar data=details}}

    <h1 class="text-center mt-5 text-#E8EB1D">Get In Touch!</h1>
    <h3 class="text-center mt-2 text-secondary ">We'd love to hear from you!</h3>
    <br>
    <h2 class="text-center mt-2">Here’s how you can contact us at</h2>
    <h2 class="text-center font-weight-bold">Coffee For You</h2>



    <div class="max-w-[1600px] px-8 mx-auto map-iframe hidden md:block d-flex" id="contact-iframe">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14400.45537942776!2d84.82694096570131!3d25.534584470490447!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed577f6954a4ab%3A0x6ce8f1b9fc2aa02a!2sIndian%20Institute%20of%20Technology%2C%20Patna%20(IIT%20Patna)!5e0!3m2!1sen!2sin!4v1677625753233!5m2!1sen!2sin"
            width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="container mt-5 address-contact">
        <div class="row justify-content-center text-center">
            <div class="col-4">
                <h3>East Reginal Office</h3>
                <p>Ooranga baad</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, maiores!</p>
            </div>
            <div class="col-4">
                <h3>East Reginal Office</h3>
                <p>Ooranga baad</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, maiores!</p>
            </div>
            <div class="col-4">
                <h3>East Reginal Office</h3>
                <p>Ooranga baad</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, maiores!</p>
            </div>
            {{!-- <div class="col-4">
                One of two columns
            </div> --}}
        </div>
    </div>
    <hr>
    <br>
    <div class="text-center text-black">
        <h1>Have Questions Or Feedback?</h1>
        <h5 class="text-secondary">Drop us a message by filling out this form below. We’ll get in touch!</h5>
    </div>
    <br>
    {{>feedback }}
    {{>footer foot=footer}}

</body>

</html>